@import "./asset/fonts/SanFrancisco/sanfrancisco_font.css";
@import "tailwindcss";

@layer base {
  html {
    font-family: "SF Pro Display" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *::-webkit-scrollbar {
    display: none !important;
  }
  *::placeholder {
    font-size: 12px;
  }

  .DeleteButton {
    height: 35px;
    width: 35px;
    background-color: rgb(194, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    cursor: pointer;
  }

  .DeleteButton:hover {
    background-color: rgb(214, 84, 84);

  }
  .EditButton {
    height: 35px;
    width: 35px;
    background-color: rgb(38, 45, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    cursor: pointer;

  }

  .EditButton:hover {
    background-color: rgb(62, 67, 70);
  }
}
